:root {
  --c-base-black: #0C1E29;
  --c-base-blacklight: #69645a;
  --c-base-purple: #c40000;
  --c-base-purplelight: #C2CCF2;
  --c-base-bluelight: hwb(199, 1%, 4%);
  --c-base-blue: hwb(209, 0%, 35%);
  --c-base-green: hwb(123, 40%, 27%);
  --c-base-graylight: hwb(0, 80%, 20%);
  --c-base-gray: hwb(0, 60%, 40%);
  --c-base-orange: hwb(22, 21%, 5%);
  --c-base-red: hwb(5, 24%, 9%);
  --c-base-white: hwb(0, 95%, 5%);
  --c-base-yellow: hwb(48, 6%, 5%);
}
/*! modern-normalize | MIT License | https://github.com/sindresorhus/modern-normalize */
/* Document
   ========================================================================== */
/**
 * Use a better box model (opinionated).
 */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
/**
 * Use a more readable tab size (opinionated).
 */
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
  font-size: 16px;
  background: #c40000;
}
/**
 * Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
 */
body {
  font-family: jixiangsong;
  letter-spacing: 1px;
}
body:not(.custom-background-image):after {
  background: inherit;
  content: "";
  display: block;
  height: 21px;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 999;
  bottom: 0;
}
.blorg {
  margin: 0 10px;
  background: #fffcf5;
}
/* 选中文字颜色 */
::selection {
  color: white;
  background-color: #c40000;
}
::-moz-selection {
  color: white;
  background-color: #c40000;
}
::-webkit-selection {
  color: white;
  background-color: #c40000;
}
/* Grouping content
   ========================================================================== */
/**
 * Add the correct height in Firefox.
 */
hr {
  height: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Add the correct text decoration in Chrome, Edge, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Remove the inheritance of text transform in Edge and Firefox.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers.
 */
legend {
  padding: 0;
}
/**
 * Add the correct vertical alignment in Chrome and Firefox.
 */
progress {
  vertical-align: baseline;
}
/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Chrome and Safari.
 */
summary {
  display: list-item;
}
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
}
.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}
.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}
.hljs-string,
.hljs-doctag {
  color: #d14;
}
.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}
.hljs-subst {
  font-weight: normal;
}
.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}
.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}
.hljs-regexp,
.hljs-link {
  color: #009926;
}
.hljs-symbol,
.hljs-bullet {
  color: #990073;
}
.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}
.hljs-meta {
  color: #999;
  font-weight: bold;
}
.hljs-deletion {
  background: #fdd;
}
.hljs-addition {
  background: #dfd;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
@font-face {
  font-family: 'jixiangsong';
  src: url('../media/fonts/jixiangsong.ttf');
  font-weight: normal;
  font-style: normal;
}
.site-footer {
  text-align: center;
  font-size: 12px;
  padding: 20px 16px 40px;
}
.site-footer .slogan {
  margin-bottom: 10px;
}
.upyun {
  margin: 0 0 6px;
}
.upyun img {
  vertical-align: middle;
  width: 38px;
}
.site-header-container {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 99;
  background: #fffcf5;
  margin: 0 10px;
}
.site-header-top {
  background: #c40000;
  align-items: center;
}
.site-header-top-content {
  max-width: 768px;
  margin: 0 auto;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
}
.site-header-top-content a {
  color: #fffcf5;
  font-size: 13px;
  margin-right: 8px;
}
.site-header {
  padding: 0 16px 8px;
  align-items: center;
  text-align: center;
  max-width: 768px;
  margin: 0 auto;
  box-shadow: inset 0px -1px 0px #fafafa;
}
.site-header img {
  margin: 10px 0;
}
h4.site-title {
  border-bottom: 2px solid #c40000;
  padding: 3px 0 18px;
  font-weight: 400;
}
@media (max-width: 600px) {
  .site-header-top-content {
    padding: 8px 0 8px 8px;
  }
}
a,
.link {
  color: var(--c-base-black);
  text-decoration: none;
  cursor: pointer;
  background: transparent 0 0;
}
a:hover,
.link:hover,
a:focus,
.link:focus,
a:active,
.link:active {
  outline: 0;
}
a.purple-link {
  position: relative;
  background: linear-gradient(180deg, transparent 70%, rgba(101, 125, 225, 0.4) 0);
}
.main {
  max-width: 768px;
  margin: 0 auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.post-item {
  margin: 0 3px 20px!important;
  padding: 32px 0;
  width: 24%;
  float: left;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.post-item .post-title {
  font-size: 28px!important;
  margin: 8px 0 3px!important;
}
.post-item .post-blog-info {
  border-top: 1px dashed #ecdfc1;
  padding: 13px 0 3px;
  margin: 8px 0 0;
}
.post-item .feature-container {
  position: absolute;
  opacity: 0.1;
  top: 28%;
  left: 38%;
  width: 138px!important;
  height: 138px!important;
}
.post-item .post-link {
  font-size: 20px!important;
}
.post-item:hover {
  border: 1px dashed #c40000 !important;
}
.post-item:hover .post-title,
.post-item:hover .post-link,
.post-item:hover .post-blog-info,
.post-item:hover .post-blog-info a {
  color: #c40000 !important;
}
.post-item:hover .post-blog-info {
  border-top: 1px dashed #c40000 !important;
}
@media (max-width: 600px) {
  .post-item {
    width: 48%;
  }
  .post-item .post-title {
    font-size: 23px!important;
  }
  .post-item .post-blog-info {
    font-size: 16px!important;
  }
}
.pagination-container {
  padding: 3px 28px 28px;
}
.pagination-container .prev,
.pagination-container .next {
  align-items: center;
  padding: 2px 12px;
  background: linear-gradient(180deg, transparent 70%, rgba(196, 0, 0, 0.38) 0);
}
.pagination-container .prev {
  float: left;
}
.pagination-container .next {
  float: right;
}
.content-container {
  flex: 1;
  padding: 208px 18px 0;
}
.content-container .post-blog {
  border: 1px dashed #ecdfc1;
  padding: 13px 20px;
  margin: 0 0 20px;
}
.content-container .post-title {
  font-size: 32px;
  margin: 20px 0 10px;
  color: #4f4a3d;
  font-weight: bold;
  text-shadow: 0.04ch 0.04ch 0 #fffcf5, 0.1ch 0.1ch 0 #ebe4d5;
}
.content-container .post-link {
  font-size: 24px;
  color: #4f4a3d;
}
.content-container .post-link a {
  color: #4f4a3d;
}
.content-container .post-link b {
  color: #c40000;
}
.content-container .post-blog-info {
  color: #aba18b;
  font-size: 18px;
}
.content-container .post-blog-info a {
  color: #aba18b;
}
.content-container .feature-container {
  background-color: #fff;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  box-shadow: 0 0 30px #eee;
  width: 100px;
  height: 100px;
}
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  padding: 16px 0;
  color: #0C1E29;
}
.post-content a {
  font-weight: 600;
  background: linear-gradient(180deg, transparent 70%, rgba(196, 0, 0, 0.3) 0);
}
.post-content img {
  display: block;
  max-width: 100%;
  border-radius: 2px;
  margin: 16px auto;
}
.post-content p {
  line-height: 1.725;
  margin-bottom: 16px;
  color: #69645a;
}
.post-content p code {
  padding: 0 3px;
  margin: 0 2px;
  background: rgba(195, 195, 195, 0.41);
  font-size: 0.9em;
  border-radius: 2px;
  display: inline-block;
}
.post-content code {
  color: #476582;
  padding: 0.25rem 0.5rem;
  margin: 0;
  font-size: 0.85em;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
  display: inline-block;
}
.post-content blockquote {
  background: #ebe5d5;
  padding: 16px;
  border-left: 2px solid var(--c-base-purple);
  margin-bottom: 16px;
}
.post-content blockquote p {
  margin-bottom: 0;
}
.post-content pre {
  margin-bottom: 16px;
}
.post-content pre code {
  font-size: 14px;
  font-family: 'Source Code Pro', Consolas, Menlo, Monaco, 'Courier New', monospace;
  padding: 2em 1em 1em;
  border-radius: 5px;
  line-height: 1.375;
  position: relative;
  background: #fafafa;
  display: block;
}
.post-content pre code:after {
  content: 'CODE';
  display: block;
  position: absolute;
  left: 8px;
  top: 4px;
  font-size: 14px;
  font-weight: bold;
  color: #ccc;
}
.post-content table {
  border-collapse: collapse;
  margin: 1rem 0;
  display: block;
  overflow-x: auto;
}
.post-content tr {
  border-top: 1px solid #dfe2e5;
}
.post-content td,
.post-content th {
  border: 1px solid #dfe2e5;
  padding: 0.6em 1em;
}
.post-content ul,
.post-content ol {
  color: var(--c-base-blacklight);
  padding-left: 24px;
  line-height: 1.725;
  margin-bottom: 16px;
}
.post-content strong {
  font-weight: bolder;
}
@media (max-width: 600px) {
  .content-container {
    padding: 158px 18px 0;
  }
  .post-content h2 {
    font-size: 20px;
  }
}
.post-blog-tags {
  margin: 0 8px 20px 3px!important;
}
@media (max-width: 600px) {
  .post-blog-tags {
    margin: 0 5px 20px 3px!important;
  }
}
.archives-container {
  padding: 32px 0;
}
.archives-container .year {
  font-size: 24px;
  margin: 24px 0;
  color: var(--c-base-purple);
}
.archives-container .post {
  margin-bottom: 32px;
}
.archives-container .post .post-title {
  font-size: 18px;
  font-weight: normal;
  position: relative;
  transition: all 0.382s;
}
.archives-container .post .post-title:before {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--c-base-purple);
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.382s;
}
.archives-container .post .post-title:hover {
  transform: translateX(8px);
}
.archives-container .post .post-title:hover:before {
  left: -8px;
  opacity: 1;
}
.tags-container {
  padding: 32px 0;
  font-size: 33px;
}
.tags-container .tag {
  color: var(--c-base-blacklight);
  padding: 14px 16px;
  display: inline-block;
}
.tags-container b {
  color: #c40000;
}
.post-blog-guestbook p {
  line-height: 1.725;
  margin-bottom: 16px;
  color: #69645a;
  font-size: 16px;
}
.markdown-body {
  font-family: jixiangsong!important;
}
.gt-container .gt-avatar img {
  border-radius: 50%!important;
}
.gt-container .gt-comment-admin .gt-comment-content {
  background-color: #fff4f4 !important;
}
.gt-container .gt-comment-content {
  background-color: #f9f4e9 !important;
}
.gt-container .gt-header-textarea {
  background-color: #fffef9 !important;
}
.gt-container .gt-header-textarea:hover {
  background-color: #f9f4e9 !important;
}
.gt-container .gt-btn {
  border: 1px solid #c40000 !important;
  background-color: #c40000 !important;
}
.gt-container .gt-btn-preview {
  background-color: #fffef9 !important;
  color: #c40000 !important;
}
.gt-container a:hover {
  color: #c40000 !important;
}
.gt-container .gt-svg svg {
  fill: #a5802f !important;
}
.gt-container .gt-link {
  border-bottom: 1px dotted #aba18b !important;
}
.gt-container .gt-user .is--poping .gt-ico svg {
  fill: #aba18b !important;
}
a.gt-header-controls-tip {
  display: none;
}
.number {
  font-size: 80px;
  color: #4f4a3d;
  font-weight: bold;
  text-align: center;
}
.text {
  font-size: 14px;
  margin: 24px;
  color: #4f4a3d;
  text-align: center;
}
